{%extends 'link.html'%}{%load static%}





{% block content%}


<!-- About Section -->
<section id="aboutus" class="aboutus margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1>about us</h1>
                </div><!-- End of head title -->

                <div class="main_about_area">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="signle_about_left">
                                <img src="{%static 'assets/images/service0.png'%}" alt="" />
                                <div class="single_about_left_text">
                                    <div class="separator2"></div>
                                    <h5>
                                        we create
                                        the best projects
                                        for the best
                                        companies!
                                    </h5>
                                </div>
                            </div>


                        </div>

                        <div class="col-sm-5 col-sm-push-1">
                            <div class="single_about">
                                <div class="separator2"></div>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>

                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>

                                <p>
                                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>

                                <a href="" class="btn btn-default">hire us</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
    <hr />
</section><!-- End of about Section -->
<!-- counter Seection -->
<section id="counter" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_counter sections text-center">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_counter_right">
                                <h4 class="statistic-counter">10</h4>
                                <div class="separator"></div>
                                <p>project complete</p>
                            </div>
                        </div><!-- End of col-sm-4 -->

                        <div class="col-sm-4 col-xs-12">
                            <div class="single_counter_right">
                                <h4 class="statistic-counter">18</h4>
                                <div class="separator"></div>
                                <p>happy clients</p>
                            </div>
                        </div><!-- End of col-sm-4 -->

                        <div class="col-sm-4 col-xs-12">
                            <div class="single_counter_right">
                                <h4 class="statistic-counter">20</h4>
                                <div class="separator"></div>
                                <p>clients</p>
                            </div>
                        </div><!-- End of col-sm-4 -->

                    </div><!-- End of row -->
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of counter Section -->
<!-- Team Section -->
<section id="team" class="team colorsbg sections">
    <div class="container">
        <div class="row">
            <div class="main_team_area">
                <div class="head_title text-center">
                    <h1>best team</h1>
                </div><!-- End of head title -->

                <div class="main_team text-center">
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team1.jpg'%}" alt="" />
                                        <h4>paul hall</h4>
                                        <div class="separator"></div>
                                        <p>art director</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team2.jpg'%}" alt="" />
                                        <h4>joshua spencer</h4>
                                        <div class="separator"></div>
                                        <p>founder</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team3.jpg'%}" alt="" />
                                        <h4>diane lewis</h4>
                                        <div class="separator"></div>
                                        <p>artist, designer</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team1.jpg'%}" alt="" />
                                        <h4>paul hall</h4>
                                        <div class="separator"></div>
                                        <p>art director</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team2.jpg'%}" alt="" />
                                        <h4>joshua spencer</h4>
                                        <div class="separator"></div>
                                        <p>founder</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <img class="img-circle" src="{%static 'assets/images/team1.jpg'%}" alt="" />
                                        <h4>diane lewis</h4>
                                        <div class="separator"></div>
                                        <p>artist, designer</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
<!-- Clients Section -->
<section id="instagrams" class="instagrams sections">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_instagrams_area text-center">
                    <div class="head_title">
                        <h1>instagram</h1>
                    </div><!-- End of head title -->

                    <div class="instagram-thumbnails">
                        <img class="instagram-thumbnail img-responsive" src="{%static 'assets/images/service0.png'%}" />
                        <img class="instagram-thumbnail img-responsive" src="{%static 'assets/images/service2.png'%}" />
                        <img class="instagram-thumbnail img-responsive" src="{%static 'assets/images/service0.png'%}" />
                        <img class="instagram-thumbnail img-responsive" src="{%static 'assets/images/service2.png'%}" />
                        <img class="instagram-thumbnail img-responsive" src="{%static 'assets/images/service0.png'%}" />
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of counter Section -->
{% endblock content%}

