{%extends 'link.html'%}{%load static%}





{% block content%}


<!-- Service Section -->
<section id="bloginner" class="bloginner sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>{{post.title}}</h1>

                    <h5>{{post.upload_in|timesince}}</h5>
                </div><!-- End of head title -->
                <div class="main_bloginner_area">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_bloginner_content">
                                <div class="single_bloginner s_blogIner_1 text-center">
                                    <div class="separator2"></div>image
                                    <img src="{{post.image.url}}" alt="" />
                                </div><!-- End of single single_bloginner -->

                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>
                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>

                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>


                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>


                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>

                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>

                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <h3>step.1</h3>
                                    <p>
                                        {{post.step_1|linebreaksbr}}
                                    </p>
                                    <details>
                                        <summary>
                                            <h5>code <i class="fa fa-caret-square-o-down"></i></h5>
                                        </summary>
                                        <div style="background-color: #F2E2A8;">
                                            <p style=" margin-left:8px ">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>

                                    </details>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
              

                    <div class="row">
                        <div class="col-sm-10 col-sm-push-1">
                            <div class="single_bloginner s_blogIner_5 margin-top-60">

                                <h4>source code here .</h4><br />
                                <div class="work_socail transition">
                                    <a href="{{post.source_code}}">
                                        <i class="fa fas fa-link img-circle"></i>{{post.source_code|slice:':100'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->
<section id="work1_team" class="work1_team colorsbg sections">
    <div class="container">
        <div class="row">
            <div class="main_work1_team_area">
                <div class="head_title text-center">
                    <h1>related post</h1>
                </div><!-- End of head title -->
                <div class="main_work1_team text-center">
                    <div class="single_work1_team">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_work1_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_work1_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
{% endblock content%}

