{%extends 'link.html'%}{%load static%}





{% block content%}



<!-- Blog Section -->
<section id="blog" class="blog sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>blog</h1>
                </div><!-- End of head title -->

                <div class="row">

                    <ul class="list-inline text-center margin-bottom-60">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter creativemenu" data-filter=".category-1">creative kitchen</li>
                        <li class="filter" data-filter=".category-2">art design</li>
                        <li class="filter" data-filter=".category-3">life events </li>
                    </ul>

                    <div class="main_blog_area">

                        {% for i in posts %}
                        <!-- there is loop -->
                        <div class="single_blog_area" style="margin-bottom:1rem;">
                            <div class="row">
                               
                                    <div class="col-sm-6">
                                        <div class="signle_service_left">
                                            <a href="{%url 'post' i.id %}">
                                                <img src="{{i.image.url}}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-push-1">
                                        <div class="single_service" align="justify">
                                            <h4 style="font-size:29px">{{i.title}}</h4>
                                
                                            <h9 style="font-size:15px">{{i.upload_in|timesince}} ago</h9>
                                            <div class="separator2"></div>
                                            <p>
                                                {{i.step_1 |linebreaksbr | slice:":380"}}
                                            </p>


                                            <a href="" class="btn btn-default">learn more</a>
                                        </div>
                                     </div>


                            </div>
                        </div><!-- End of single service area -->
                        {% endfor %}




<!-- ======================================  End of single service area ========================================================================= -->





                    </div>

                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->

{% endblock content%}

