{%extends 'link.html'%}{%load static%}





{% block content%}



<!-- Contact Section -->
<section id="contact" class="contactus margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_contact sections">
                    <div class="head_title text-center">
                        <h1>get in touch</h1>
                    </div>

                    <div class="row">
                        <div class="contact_contant">
                            <div class="col-sm-6 col-xs-12">
                                <div class="single_message_right_info">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            <span>
                                                Ibrahimpur,Sunamganj,Sunamganj Sadar, <br /> Sylhet
                                                , Bangladesh.
                                            </span>
                                        </li>

                                        <li><i class="fa fa-mobile-phone"></i><span>+88-0162-424-6441</span></li>

                                        <li><i class="fa fa-envelope-o"></i> <span>nowshedahmed59@gmail.com</span></li>
                                    </ul>

                                    <div class="work_socail transition">
                                        <a href="https://stackoverflow.com/users/19905122/m-s-h-nowshad"><i class="fa fa-stack-overflow img-circle"></i></a>
                                        <a href=""><i class="fa fa-linkedin img-circle"></i></a>
                                        <a href="https://pin.it/6M0kptGtl"><i class="fa fa-pinterest img-circle"></i></a>
                                    </div>
                                </div>
                            </div><!-- End of col-sm-6 -->

                            <div class="col-sm-6 col-xs-12">
                                <div class="single_contant_left margin-top-60">
                                    <form action="{% url 'thanku' %}" method="POST">
                                        {% csrf_token %}
                                        <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                        <div class="form-group">
                                            <label>name</label>
                                            <input type="text" class="form-control" name="name" required="">
                                        </div>
                                        <div class="form-group">
                                            <label>mobile</label>
                                            <input type="text" class="form-control" name="mobile" required="">
                                        </div>

                                        <div class="form-group">
                                            <label>e-mail</label>
                                            <input type="email" class="form-control" name="email" required="">
                                        </div>

                                        <div class="form-group">
                                            <label>your message</label>
                                            <textarea class="form-control" name="desc" rows="8"></textarea>
                                        </div>

                                        <div class="">
                                            <input type="submit" value="submit" class="btn">
                                        </div>
                                        <!--</div>-->
                                    </form>
                                </div>
                            </div>
                        </div> <!-- End of messsage contant-->
                    </div>
                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of container -->
</section><!-- End of contact Section -->


{% endblock content%}