{%extends 'link.html'%}{%load static%}





{% block content%}



<!-- Contact Section -->
<section id="contact" class="contactus margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_contact sections">
                    <div class="head_title text-center">
                        <h1>search there</h1>
                    </div>

                    <div class="row">
                        <div class="contact_contant">
                            <div class="col-sm-12 col-xs-12">
                                <div class="single_contant_left margin-top-60">
                                    <form action="#" id="formid">
                                        <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                        <div class="form-group">
                                            <label>type to bottom of underline :</label>
                                            <input type="text" class="form-control" name="name" required="">
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />




                                        <div class="">
                                            <input type="submit" value="Enter" class="btn">
                                        </div>
                                        <!--</div>-->
                                    </form>
                                </div>
                            </div>
                        </div> <!-- End of messsage contant-->
                    </div>
                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of container -->
</section><!-- End of contact Section -->

<div style="margin-bottom:5rem;">

</div>
{% endblock content%}