{%extends 'link.html'%}{%load static%}





{% block content%}




<!-- Work Section -->
<section id="work" class="work sections">
    <div class="container">
        <div class="row">
            <div class="main_mix_content text-center margin-top-120">
                <div class="head_title">
                    <h1>works</h1>
                </div><!-- End of head title -->


                <div id="mixcontent" class="mixcontent text-center">


                    <div class="col-sm-4 col-xs-12 mix category-1">
                        <div class="single_mixi_portfolio">
                            <img src="{% static 'assets/images/pf01.png'%}" alt="" />
                            <div class="single_work_overlay">
                                <h4>
                                    golfino
                                    awards
                                </h4>
                                <div class="separator"></div>
                                <p>print design</p>
                            </div>
                        </div>
                    </div>


                    <!-- there -->


                    <div class="col-sm-4 col-xs-12 mix category-2">
                        <div class="single_mixi_portfolio">
                            <img src="{% static 'assets/images/pf5.png'%}" alt="" />
                            <div class="single_work_overlay">
                                <h4>
                                    golfino
                                    awards
                                </h4>
                                <div class="separator"></div>
                                <p>print design</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 mix category-2">
                        <div class="single_mixi_portfolio">
                            <img src="{% static 'assets/images/pf5.png'%}" alt="" />
                            <div class="single_work_overlay">
                                <h4>
                                    golfino
                                    awards
                                </h4>
                                <div class="separator"></div>
                                <p>print design</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 mix category-2">
                        <div class="single_mixi_portfolio">
                            <img src="{% static 'assets/images/pf5.png'%}" alt="" />
                            <div class="single_work_overlay">
                                <h4>
                                    golfino
                                    awards
                                </h4>
                                <div class="separator"></div>
                                <p>print design</p>
                            </div>
                        </div>
                    </div>


                </div>

                <a href="" class="btn">learn more</a>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
<!-- footer Section -->


{% endblock content%}
