{%extends 'link.html'%}{%load static%}





{% block content%}


<!-- Service Section -->
<section id="bloginner" class="bloginner sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>{{work.title}}</h1><br />
                    <h6>{{work.upload_in|timesince}} ago</h6>
                </div><!-- End of head title -->
                <div class="main_bloginner_area">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_bloginner_content">
                                {% if work.image1 %}
                                <details>
                                    <summary>
                                        <h5>image : 1 <i class="fa fa-caret-square-o-down"></i></h5>
                                    </summary>
                                    <div class="single_bloginner s_blogIner_1 text-center">
                                        <div class="separator2"></div>
                                        <img src="{{work.image1.url}}" alt="" />
                                    </div><!-- End of single single_bloginner -->

                                </details>
                                {%endif%}

                                {% if work.image2 %}
                                <details>
                                    <summary>
                                        <h5>image : 2 <i class="fa fa-caret-square-o-down"></i></h5>
                                    </summary>
                                    <div class="single_bloginner s_blogIner_1 text-center">
                                        <div class="separator2"></div>
                                        <img src="{{work.image2.url}}" alt="" />
                                    </div><!-- End of single single_bloginner -->

                                </details>
                                {%endif%}

                                {% if work.image3 %}
                                <details>
                                    <summary>
                                        <h5>image : 3 <i class="fa fa-caret-square-o-down"></i></h5>
                                    </summary>
                                    <div class="single_bloginner s_blogIner_1 text-center">
                                        <div class="separator2"></div>
                                        <img src="{{work.image3.url}}" alt="" />
                                    </div><!-- End of single single_bloginner -->

                                </details>
                                {%endif%}


                                {% if work.image4 %}
                                <details>
                                    <summary>
                                        <h5>image : 4 <i class="fa fa-caret-square-o-down"></i></h5>
                                    </summary>
                                    <div class="single_bloginner s_blogIner_1 text-center">
                                        <div class="separator2"></div>
                                        <img src="{{work.image4.url}}" alt="" />
                                    </div><!-- End of single single_bloginner -->

                                </details>
                                {%endif%}


                                {% if work.image5 %}
                                <details>
                                    <summary>
                                        <h5>image : 5 <i class="fa fa-caret-square-o-down"></i></h5>
                                    </summary>
                                    <div class="single_bloginner s_blogIner_1 text-center">
                                        <div class="separator2"></div>
                                        <img src="{{work.image5.url}}" alt="" />
                                    </div><!-- End of single single_bloginner -->

                                </details>
                                {%endif%}



                                <div class="single_bloginner s_blogIner_2 margin-top-60">
                                    <div class="separator2"></div>
                                    <p>
                                        {{work.description|linebreaksbr}}
                                    </p>
                                </div>





                                <!-- there is end of post -->

                            </div>
                        </div>
                    </div>
                </div>


                <br />
                <br /><br />
                <br />


                <div class="row">
                    <div class="row">
                        <div class="col-sm-10 col-sm-push-1">
                            <div class="single_bloginner s_blogIner_5 margin-top-60">
                                {%if work.web_link %}
                                <div class="separator2"></div>
                                <h4 style="font-size:29px">Toolbox Treasures : </h4>
                                <br />
                                <div class="work_socail transition">
                                    <p>
                                       tools :  {{work.tools|linebreaksbr}}
                                    </p>
                                </div>

                                <br />

                                {%endif%}




                                {%if work.web_link %}
                                <div class="separator2"></div>
                                <h4 style="font-size:29px">Website link.</h4><br />
                                <div class="work_socail transition">
                                    <a href="{{work.web_link}}" target="_blank">
                                        <i class="fa fas fa-link img-circle"></i>{{work.web_link|slice:':100'}}
                                    </a>
                                </div>

                                <br />

                                {%endif%}
                                <div class="separator2"></div>
                                <h4 style="font-size:29px">source code here .</h4><br />
                                <div class="work_socail transition">
                                    <a href="{{work.source_code}}" target="_blank">
                                        <i class="fa fas fa-link img-circle"></i>{{work.source_code|slice:':100'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
{% endblock content%}

