{%extends 'link.html'%}{%load static%}





{% block content%}




<!-- Blog Section -->
<section id="blog" class="blog sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>works</h1>
                </div><!-- End of head title -->

                {% if works %}
                <div class="row">
                    <!-- there is category -->
                    <!--<ul class="list-inline text-center margin-bottom-60">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter creativemenu" data-filter=".category-1">creative kitchen</li>
                        <li class="filter" data-filter=".category-2">art design</li>
                        <li class="filter" data-filter=".category-3">life events </li>
                    </ul>-->

                    <div class="main_blog_area">

                        <div class="single_blog_area  margin-top-80">


                            {% for i in works %}
                            <div class="row" style="margin-bottom:1rem;">
                                <div class="col-sm-6 col-sm-push-6">
                                    <a href="{% url 'work' i.id %}">
                                        <div class="signle_service_left">
                                            <img src="{{i.image0.url}}" width="560" height="300" alt="">
                                        </div>
                                    </a>

                                </div>

                                <div class="col-sm-5 col-sm-pull-6">
                                    <div class="single_service">
                                        <div class="separator2"></div>
                                        <a href="{% url 'work' i.id %}">
                                            <h4 style="font-size:29px">{{i.title}}</h4>
                                        </a>
                                        <h9 style="font-size:15px">{{i.upload_in|timesince}} ago</h9>
                                        <br>
                                        <br>
                                        <br>
                                        <a href="{% url 'work' i.id %}" class="btn btn-default">learn more</a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div><!-- End of single service area -->

                    </div>
                </div>
                {% else %}

                <div class="text-center">
                    <h3>
                        no works items..<br>
                        add the item in works.
                    </h3>
                </div><!-- End of head title -->

                {% endif %}



            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
{% endblock content%}