{%extends 'link.html'%}{%load static%}





{% block content%}




<!-- Service Section -->
<section id="work1" class="work1 sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>golfino awards</h1>
                </div><!-- End of head title -->

                <div class="main_work1_area">
                    <div class="main_work1_content">
                        <div class="single_work1">
                            <img src="{%static 'assets/images/workhome1.jpg'%}" alt="" />
                        </div><!-- End of single single_work1 -->
                        <div class="single_work1">
                            <img src="{%static 'assets/images/workhome2.jpg'%}" alt="" />
                        </div><!-- End of single single_work1 -->
                        <div class="single_work1">
                            <img src="{%static 'assets/images/workhome3.jpg'%}" alt="" />
                        </div><!-- End of single single_work1 -->
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- work1_content Section -->
<section id="work1_content" class="work1_content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_work1_content_area margin-bottom-80">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="signle_work1_left">
                                <div class="separator2"></div>
                                <h4>
                                    we create <br />
                                    the best projects<br />
                                    for the best<br />
                                    companies!
                                </h4>
                            </div>
                        </div>

                        <div class="col-sm-5 col-sm-push-1">
                            <div class="single_work1">
                                <div class="separator2"></div>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>

                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>

                                <p>
                                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>


                                <div class="work_socail transition">
                                    <a href=""><i class="fa fa-facebook img-circle"></i></a>
                                    <a href=""><i class="fa fa-twitter img-circle"></i></a>
                                    <a href=""><i class="fa fa-google-plus img-circle"></i></a>
                                    <a href=""><i class="fa fa-pinterest img-circle"></i></a>
                                    <a href=""><i class="fa fa-instagram img-circle"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of service1 Section -->
<!-- Team Section -->
<section id="work1_team" class="work1_team colorsbg sections">
    <div class="container">
        <div class="row">
            <div class="main_work1_team_area">
                <div class="head_title text-center">
                    <h1>related works</h1>
                </div><!-- End of head title -->

                <div class="main_work1_team text-center">
                    <div class="single_work1_team">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                    <div class="single_work1_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_work1_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            letters art
                                            project
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>
                                            golfino awards
                                            2015
                                        </h4>
                                        <div class="separator"></div>
                                        <p>print design</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="team">
                                        <h4>the foodee</h4>
                                        <div class="separator"></div>
                                        <p>creative kitchen</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->
                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
{% endblock content%}