<!-- footer Section -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="main_footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright_text text-center">
                        <p class="wow fadeInRight" data-wow-duration="1s" style="color:rgb(191, 180, 90)">
                            Delve into the depths of thought, where every line holds a spark of revelation.
                            <a href="{%url 'home'%}">!nsight!nkling </a> invites you on a journey of enlightenment, where curiosity intertwines with insight. Discover a tapestry of ideas,
                            perspectives, and musings that illuminate the path to understanding
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End of container -->
</footer><!-- End of footer -->
